:root {
  /* fonts */
  --font-lato: Lato;
  --font-akrobat: Akrobat;
  --font-open-sans: "Open Sans";
  --font-gotham: Gotham;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-2xs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-base: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 31.53px;
  --font-size-3xl: 36px;
  --font-size-4xl: 48px;
  --font-size-5xl: 56px;

  /* Colors */
  --color-purple: #a61473;
  --color-white: #fff;
  --color-gray-100: #e0e0e0;
  --color-gray-200: #e4dcdc;
  --color-gray-300: #c5c5c5;
  --color-gray-400: #212121;
  --color-gray-500: #202020;
  --color-gray-600: #121212;
  --color-gray-700: rgba(255, 255, 255, 0.5);
  --color-gray-800: rgba(255, 255, 255, 0.3);
  --color-black: #000;
  --color-tan: #d9b1a3;
  --color-orange: #f27405;

  /* Gaps */
  --gap-0: 0px;
  --gap-6xs: 1px;
  --gap-5xs: 2px;
  --gap-4xs: 5px;
  --gap-3xs: 10px;
  --gap-2xs: 12px;
  --gap-xs: 14px;
  --gap-sm: 15.76px;
  --gap-md: 15px;
  --gap-lg: 18px;
  --gap-xl: 20px;
  --gap-2xl: 30px;
  --gap-3xl: 50px;
  --gap-4xl: 60px;
  --gap-5xl: 172px;
  --gap-6xl: 212px;

  /* Paddings */
  --padding-4xs: 5px;
  --padding-3xs: 8px;
  --padding-2xs: 10px;
  --padding-xs: 13px;
  --padding-sm: 20px;
  --padding-md: 30px;
  --padding-lg: 50px;
  --padding-xl: 84px;
  --padding-2xl: 141px;
  --padding-3xl: 190px;
  --padding-4xl: 216px;

  /* border radiuses */
  --br-sm: 7px;
  --br-md: 10px;
  --br-lg: 200px;
}
